<mat-card >
    <a [routerLink]="['/honda']" >
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <img src="assets/images/logo/honda_logo.png">
            </mat-grid-tile>
            <mat-grid-tile>Honda</mat-grid-tile>
        </mat-grid-list>
    </a>
</mat-card>
<mat-card >
    <a [routerLink]="['/maruti']" >
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <img src="assets/images/logo/maruri_suzuki_logo.png">
            </mat-grid-tile>
            <mat-grid-tile>Maruti Suzuki</mat-grid-tile>
        </mat-grid-list>
    </a>
</mat-card>
<mat-card >
    <a [routerLink]="['/hyundai']" >
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <img src="assets/images/logo/hyundai_logo.png">
            </mat-grid-tile>
            <mat-grid-tile>Hyundai</mat-grid-tile>
        </mat-grid-list>
    </a>
</mat-card>
<mat-card >
    <a [routerLink]="['/mahindra']" >
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <img src="assets/images/logo/mahindra_logo.png">
            </mat-grid-tile>
            <mat-grid-tile>Mahindra</mat-grid-tile>
        </mat-grid-list>
    </a>
</mat-card>
<mat-card >
    <a [routerLink]="['/renault']" >
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <img src="assets/images/logo/renault_logo.png">
            </mat-grid-tile>
            <mat-grid-tile>Renault</mat-grid-tile>
        </mat-grid-list>
    </a>
</mat-card>
<mat-card >
    <a [routerLink]="['/tata']" >
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <img src="assets/images/logo/tata_logo.png">
            </mat-grid-tile>
            <mat-grid-tile>Tata</mat-grid-tile>
        </mat-grid-list>
    </a>
</mat-card>