/* mat-card {
    padding: 10px !important;
    border-radius: 10px !important;
} */

mat-card {
    margin: 10px;
    transition: transform .2s;
    padding: 10px !important;
    border-radius: 10px !important;
}

mat-card:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}